
Comment - DEFAULT LIGHTGREEN
==============================
/* this is a comment */
// this is a comment


Literal - DEFAULT LIGHTCYAN
===========================
"this is a literal"  'this is a literal'

special characters - DEFAULT WHITE
=====================================
{ } ; ,

rc directives - DEFAULT MAGENTA
===============================
 #include #ifdef #pragma #undef

rc resource statements - DEFAULT MAGENTA
========================================
HELPITEM MLE PRESPARAMS STRINGTABLE

OS/2 Toolkit definitions - DEFAULT MAGENTA
==========================================
BKS_SQUARETABS BS_AUTORADIOBUTTON DT_WORDBREAK FS_MOUSEALIGN

